.b_table{
  overflow-x: scroll;
  margin-top: 32px;
}

.info-block {

  display: inline-block;
  text-align: center;
  margin: 15px 0;
  p {
    margin: 4px 13px;
  }

  .order{
    display: inline-block;
    width: max-content;
    &.t_cheked {

      color: #000;
      background-color: #f9ff00 !important;
    }
    &.t_booking {
      color: #000;
      background-color: #c92228;
    }

    &.t_blue {
      background-color: #1becd9;
      color: #000000;
    }
    &.t_disabled {
      background-color: #6b6b6b;
      color: #000000;
    }
  }
}

table.user-timetable {
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  thead {
    td {
      border: 1px solid grey;
      background-color: #f79a17;
      span {
        padding: 0 5px;
      }
    }
    tr {

    }
  }
  tbody {
    tr:hover{
      border: dotted #0004ff;
    }
    td {
      cursor: pointer;
      border: 1px solid grey;
      &.work{
        background-color: lightyellow;
      }
      &.weekend{
        background-color: greenyellow;
      }
      &.t_cheked {

        color: #000;
        background-color: #f9ff00 !important;
      }
      &.t_booking {
        color: #000;
        background-color: #c92228;
      }

      &.t_blue {
        background-color: #1becd9;
        color: #000000;
      }
      span {
        padding: 0 5px;

      }
      &.t_disabled {
        background-color: #6b6b6b;
        color: #000000;
      }
    }
  }
}
