<div class="c-align">
    <div class="user-booking">
        <div class="col-sm-12 info-block">
            <span class="order t_booking"><p>Забронирован и оплачен</p></span>
            <span class="order t_cheked"><p>Заблокировано</p></span>
            <span class="order t_blue"><p>Забронирован и не оплачен</p></span>
        </div>
            <div class="row" *ngIf="sportCentrList.length > 0 && sportCentrList.length != null">
            <div class="col-xl-2">
                <select (change)="getBoockingInMonths($event)" >
                    <option disabled value="0">"Выберете месяц"</option>
                    <option  *ngFor="let months of sArrMonths; let i=index" value="{{i}}">{{months}}</option>
                </select>
            </div>
            <div class="col-xl-8">
                <select *ngIf="sportCentrList.length > 1" (change)="getPlayGround($event)" >
                    <option disabled value="">"Выберете спорт центр"</option>
                    <option  *ngFor="let sportCentr of sportCentrList; let i=index" value="{{sportCentr.id}}">{{sportCentr.name}}</option>
                </select>
                <label *ngIf="sportCentrList.length == 1"><span>{{sportCentrList[0].name}}</span></label>
            </div>
            <div class="col-xl-2">
                <select  *ngIf="playgroundArray.length > 1" (change)="getBookingInPlayGround($event)" >
                    <option  value="">"Выберете Корт"</option>
                    <option  *ngFor="let playG of playgroundArray; let i=index" value="{{playG.id}}">{{playG.name}}</option>
                </select>
                <label *ngIf="playgroundArray.length == 1"><span>{{playgroundArray[0].name}}</span></label>
            </div>
            <div class="col-sm-12 b_table">
                <table class="user-timetable">
                    <thead>
                    <tr>
                        <td *ngFor="let times of timeArray"><span>{{times}}</span></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let day of dayArray; let i=index">
                        <td class="{{day.day.type}}"><span>{{day.day.data}}</span></td>
                        <td class="{{time.style}}" *ngFor="let time of day.time"><span>{{time.info}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
    </div>
</div>