<nav class="navbar az-navbar no-border">
    <div class="c-align">
        <a class="navbar-brand" routerLink="/pages/facilities-list">
            <img src="../assets/img/logo/logo.png" alt="" class="hidden-sm-down">
            <img src="../assets/img/logo/logo.png" alt="" class="hidden-md-up">
        </a>

        <sidebar></sidebar>

        <ul class="nav navbar-nav">
            <li>
                <a (click)="toggleMenu()" class="collapse-menu-link ion-navicon" id="collapse-menu-link"></a>
            </li>

            <div class="pull-right">
                <span class="copy">&#169; 2016, Weev.ru</span>
            </div>
        </ul>
    </div>
</nav>